
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
  max-height: 100vh;
  overflow-y: auto;
  /* height: auto; */
}



.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  flex: 1;
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 10px;
  /* align-items: center; */
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(5px);
}

.input-group{
  display: flex;
  gap: 5%;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 14px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

/* Button Styles */
.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.remove-button,
.add-button {
  background-color: #08d;
  width: 10%;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-left: 5px;
  outline: 0;
  text-align: center;
  transition: background-color 0.3s;
}

.remove-button:hover,
.add-button:hover {
  background-color: #06b;
}

/* Modal Styles */




.closebtn {
  background: none;
  color: #eee;
  border: 1px solid black;
  cursor: pointer;
  width: 10%;
}

.closebtn:hover {
  color: #ccc;
}

/* ######## */

.same-row{
  display: flex;
  align-items: center;
  width: 100%;

}
.input-container .ic2 .same-row{
  width: 100%;
}

@media screen and (max-width: 400px) {
  .form{
    max-height: 100vh;
    width: 380px;
  }
}